#app-content-wrapper.show-nav #app-content {
    padding-right: 0;
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
}

#app-content-wrapper.show-nav #app-content #app-actions {
    padding: 20px 50px;
}

.wrapper {
  background: #FFFFFF;
}

.add-on.slider-after {
    width: 40px;
}

.add-on.slider-before {
    width: 40px;
}

.slider-input {
    width: 170px;
}

.slider-value {
    margin-left: -25px;
}